<a href="https://colab.research.google.com/github/washiData/DesafiosUdemy.analise-python/blob/main/Desasfios_udemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

first_name = 'Washington'
age = 41
print( f' Óla, meu nome é {first_name} e eu tenho {age} anos.')
# ou
print('Óla, meu nome é',first_name,'e eu tenho',age,'anos.')

 Óla, meu nome é Washington e eu tenho 41 anos.
Óla, meu nome é Washington e eu tenho 41 anos.

In [ ]:
first_name = input('Por favor, digite o seu nome: ')
age = int(input('Agora, digite a sua idade: '))
print(f'Olá, {first_name}, você tem {age} anos')
print('Olá,{}! Você tem {} anos'.format(first_name, age))
print('Olá,', first_name, 'Você tem', age, 'anos')

Por favor, digite o seu nome: Washington
Agora, digite a sua idade: 41
Olá, Washington, você tem 41 anos
Olá,Washington! Você tem 41 anos
Olá, Washington Você tem 41 anos

In [ ]:
num1 = float(input('Digite o primeiro numero:'))
num2 = float(input('Digite o segundo numero:'))

soma = num1 + num2
subtracao = num1 - num2
multiplicacao = num1 * num2
divisao = num1 / num2
exponenciacao = num1 ** num2

print(f'Soma:{soma}')
print(f'Subtração:{subtracao}')
print(f'Multiplicação:{multiplicacao}')
print(f'Divisão:{divisao}')
print(f'Exponenciação:{exponenciacao}')

Digite o primeiro numero:40.6
Digite o segundo numero:32
Soma:72.6
Subtração:8.600000000000001
Multiplicação:1299.2
Divisão:1.26875
Exponenciação:2.9705240609573184e+51

In [ ]:
frutas = ['maça','morango', 'manga','uva','abacaxi']
# print(frutas)
# print(frutas[0])
# print(frutas[3])
# frutas[1] = 'morango'
# frutas.append('abacaxi')
# frutas[1:3] = ['abacaxi','abacate']
frutas.remove('manga')
del frutas[-1]

print(frutas)

['maça', 'morango', 'uva']

In [ ]:
frutas = ['maça', 'morango', 'uva']

for i in frutas:
    print(f'Eu gosto de {i}')

Eu gosto de maça
Eu gosto de morango
Eu gosto de uva

In [ ]:
for i in range(1, 11):
  # start, stop, step = range(1, 11, 2) step = sempre pula de dois em dois ou de quantos quiser
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
frutas = ['maça', 'banana', 'uva']
vegetais = ['alface', 'cenoura', 'pepino']

for i in frutas:
  for x in vegetais:
    print(i, x)

maça alface
maça cenoura
maça pepino
banana alface
banana cenoura
banana pepino
uva alface
uva cenoura
uva pepino

In [ ]:
valor = 1
while valor <= 10:
    print(valor)
    valor += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
print('loop com break')
numero = 1
while numero <= 10:
  print(numero)
  numero += 1
  if numero ==5:
    print(numero)
    break

# #for numero in range(1, 11):
#      if numero > 5:
#          break
#      print(numero)

loop com break
1
2
3
4
5

In [ ]:
print('loop com o continue')
numero = 1
while numero <= 10:
  print(numero)
  numero += 1
  if numero > 5:
    continue

# for numero in range(1, 11):
#   if numero == 5:
#     continue
#   print(numero)

1
2
3
4
5
6
7
8
9
10

In [ ]:
frutas = ['maçã','banana', 'maçã','morango', 'maçã','uva']
contador = 0
for fruta in frutas:
    if fruta == 'maçã':
       contador += 1
print('Maçãs encontradas:',contador)

Maçãs encontradas: 3

In [ ]:
numero = int(input('Digite um numero:'))

if numero > 10:
    print('O numero é maior do que 10')
else:
    print('O numero é meno ou igual a 10')

Digite um numero:11
O numero é maior do que 10

In [ ]:
idade = int(input('Digite a sua idade: '))

if idade >= 20:
  print('Você é um adulto')
elif idade >= 13:
  print('Você é um adolescente')
else:
  print('Você é uma criança')

Digite a sua idade: 12
Você é uma criança

In [ ]:
carros = ['BMW X6', 'BMW i5', 'BMWi8']

carro = input('Digite o nome do carro: ')

if carro in carros:
  print('Este carro está disponível')
else:
  print('Desculpe, este carro não está disponível')

Digite o nome do carro: maverick
Desculpe, este carro não está disponível

In [ ]:
while True:
    fruta = input(' Digite o nome da fruta: ')
    if fruta.lower() == 'abacate':
        break
print('Parabéns, você acertou a fruta!')

 Digite o nome da fruta: morango
 Digite o nome da fruta: abacate
Parabéns, você acertou a fruta!

In [ ]:
#numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

numeros = list(range(1,11))
for i in numeros:
    if i % 2 == 0:
      print(f'O numero {i} é par')
    else:
      print(f'O numero {i} é impar')

O numero 1 é impar
O numero 2 é par
O numero 3 é impar
O numero 4 é par
O numero 5 é impar
O numero 6 é par
O numero 7 é impar
O numero 8 é par
O numero 9 é impar
O numero 10 é par

In [ ]:

cidades = ('São Paulo', 'Rio de Janeiro', 'Salvador')
cidade_usuario = input('Digite o nome da cidade:')

if cidade_usuario in cidades:
    print('A cidade está na lista de cidades')
else:
    print('A cidade está nâo lista de cidades')

Digite o nome da cidade:São Paulo
A cidade está na lista de cidades

In [ ]:
paises = {'Brasil': 'Brasilia', 'França': 'Paris', 'Japão': 'Toquio',
          'Israel': 'Tel avive','Egito':' Cairo'}

paises_usuario = input('Digite o nome do pais: ')

if paises_usuario in paises:
          print(f' A capital de {paises_usuario} é {paises[paises_usuario]} ')
else:
          print(f'Desculpe, não temos informações sobre este pais')

Digite o nome do pais: Israel
 A capital da Israel é Tel avive